$font-stack: Helvetica, sans-serif;
$primary-color: #333;

html,
body {
  font: 100% $font-stack;
  height: 100%;
  padding: 0;
  margin: 0;
  color: $primary-color;
.container-login{
    height: 100%;
    align-items: center;
    display: grid;
    grid-template-columns: 1fr 1fr;
    .container {
      height: 100%;
      display: flex;
      align-items: center;
      padding-left: 25%;
      .container-input {
        display: flex;
        flex-direction: column;
        justify-content: center;
        input {
          width: 75%;
          border-radius: 0.5em;
          height: 1.5em;
          margin-top: 1em;
        }
        button {
          border-radius: 0.5em;
          margin-top: 1em;
          width: 75%;
        }
      }
    }
  }
}
