$primary-color: #3498db;
$background-color: #333;
$text-color: #fff;
$hover-color: yellow;

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: Arial, sans-serif;
}

header {
  color: $text-color;
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 100;
  box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.2);
}

.navbar {
  display: flex;
  justify-content: flex-start;
  align-items: center;
}

.navBarMenuBtn:hover{
  cursor: pointer;
}

.nav-list {
  list-style: none;
  display: flex;

  li {
    margin-right: 20px;

    a {
      text-decoration: none;
      color: $text-color;
      transition: color 0.3s;

      &:hover {
        color: $hover-color;
      }
    }
  }
}

.logout{
  border: none;
  margin-left: 120em
}

.logout:hover{
  cursor: pointer;
}

.logo {
  font-size: 24px;
  font-weight: bold;
}

main {
  margin-top: 80px;
  padding: 20px;
}

html {
  scroll-behavior: smooth;
}

.sidebar {
  padding-top: 6em;
  width: 250px;
  color: $text-color;
  position: fixed;
  height: 100%;
  top: 0;
  left: 0;
  transition: width 0.3s;

  a {
    text-decoration: none;
    color: $text-color;
    display: block;
    margin-bottom: 10px;
  }

  a.active {
    font-weight: bold;
    color: white;
  }

  .fa {
    margin-right: 10px;
  }

  &.collapsed {
    width: 60px;
    a {
      span {
        display: none;
      }
    }
  }
}

.main-content {
  margin-left: 250px;
  padding: 20px;
  transition: margin-left 0.3s;

  &.collapsed {
    margin-left: 60px;
  }
}