$background-color: #333;
$text-color: #fff;

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: Arial, sans-serif;
}

header {
  color: $text-color;
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 100;
}

.navbar {
  padding: 0.5em;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  button {
    width: 2.1875em;
    height: 1.875em;
  }

}

.navBarMenuBtn:hover {
  cursor: pointer;
}

.nav-list {
  width: 100%;
  align-items: center;
  margin-right: 6em;
  display: flex;
  justify-content: flex-end;
  list-style: none;
  li {
    margin-right: 1em;

    a {
      text-decoration: none;
      color: $text-color;
      transition: color 0.3s;
    }
  }
}

.logout {
  border: none;
  display: grid;
  grid-template-columns: 1fr 1fr;
}

.logout:hover {
  cursor: pointer;
}

.logo {
  font-weight: bold;
  margin-left: 2em;
}

main {
  margin-top: 80px;
  padding: 20px;
}

html {
  scroll-behavior: smooth;
}

.sidebar {
  padding-top: 5em;
  width: 5em;
  color: $text-color;
  position: fixed;
  height: 100%;
  top: 0;
  left: 0;
  transition: width 0.3s;

  a {
    text-decoration: none;
    color: $text-color;
    display: block;
    margin-bottom: 1em;
  }

  a.active {
    font-weight: bold;
    color: white;
    background-color: rgba(202, 198, 192, 0.5);
    border-left: white solid 2px;
  }

  .fa {
    margin-right: 1em;
  }

  &.collapsed {
    width: 0;
    a {
      span {
        display: none;
      }
    }
  }
}

.main-content {
  margin-left: 2em;
  transition: margin-left 0.3s;
}
